

<h1 class="ui center aligned header">GoldenPhotos.com</h1>

<% if Image.count == 0 %>
  <a href="/users/sign_in" class="item">
    <img class="ui fluid image" src="../../assets/Goldenphotohome.jpg">
  </a>
<% else %>
  <div class="ui grid">
    <div class="three column row">
      <div class="column">
        <%= image_tag @images.sample.picture%>
        <div class="ui huge center aligned header"><a href='/'>Category 1</a></div>
      </div>
      <div class="column">
        <%= image_tag @images.sample.picture%>
        <div class="ui huge center aligned header">Category 2</div>
      </div>
      <div class="column">
        <%= image_tag @images.sample.picture%>
        <div class="ui huge center aligned header">Category 3</div>
      </div>
    </div>
    <div class="four column row">
      <div class="column">
        <%= image_tag @images.sample.picture%>
      </div>
      <div class="column">
        <%= image_tag @images.sample.picture%>
      </div>
      <div class="column">
        <%= image_tag @images.sample.picture%>
      </div>
      <div class="column">
        <%= image_tag @images.sample.picture%>
      </div>
    </div>
  </div>
  <% end %>
