<div class="ui center aligned container" %>
  <%= form_for @image,  html: { multipart: true }  do |f| %>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :body %><br />
      <%= f.text_field :body %>
    </p>
    <p>
      <%= f.label :picture %>
      <%= f.file_field :picture %>
    </p>
    <p><%= f.submit %></p>
  <% end %>
</div>
