<div class="ui center aligned container" %>
  <%= form_for @image,  html: { multipart: true }  do |f| %>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :body %><br />
      <%= f.text_field :body %>
    </p>

    <div class="field">
      <%= f.label "Categorize Photo" %><br />
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <p><%= f.submit %></p>
  <% end %>
</div>
