<h1 class="ui center aligned header">Golden Photo Gallery<br />
<button class="ui black button"><%= link_to "New Photo", new_image_path%> </button></h1>
<div class="indexthumbnails">
  <div class="ui grid">
    <% if Image.count == 0 %>
      <a href="/users/sign_in" class="item">
        <img class="ui fluid image" src="../../assets/Goldenphotohome.jpg">
      </a>
    <% else %>
      <div class="five column row">
          <% @images.each do |image| %>
          <div class="column">
            <%= image_tag image.picture_url(:thumb) %>
            <h1><%= link_to "#{image.title}", image_path(image) %></h2></h1>
            <h3><%=image.body %></h3>
          </div>
          <% end %>
      </div>
    <% end %>
</div>
<h1 class="ui center aligned header"><%= will_paginate @images %></h1>
